{% extends 'base.html' %}

{% block content %}
<div class="row mt-3 border border-secondary">
  <div class="col-12 border-bottom border-secondary" style="background-color:#a0b2ce;">
      <div class=" mt-3 h1"><i class="fas fa-user"></i> Staff Desk </div>
  </div>
  <div class="col-12" style="background-color:#fff;">
          <div class="row my-2">
            <div class="col-12 col-sm-11 my-2">{% now "l, F j, Y" %}
            </div>
          </div>
  </div>
</div>
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <h3><a href="add-staff.html" class="btn btn-primary float-left veiwbutton">Add Staff</a></h3>  </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body booking_card">
        <div class="table-responsive">
          <table class="datatable table table-stripped table table-hover table-center mb-0">
            <thead>
              <tr>
                <th>Staff ID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Role</th>
                <th>Active</th>
                <th>Date Joined</th>
                <th>Last Login</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>830-468-1042</td>
                <td>{{ user.email }}</td>
                <td class="actions"><a href="#" class="btn btn-sm bg-success-light mr-2">{{ user.get_roles_display }}</a></td>
                <td class="actions"><a href="#" class="btn btn-sm bg-success-light mr-2">{{ user.is_active }}</a></td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
                <td class="text-right">
                  <div class="dropdown dropdown-action"> <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                      <div class="dropdown-menu dropdown-menu-right"> <a class="dropdown-item" href="#"><i class="fas fa-pencil-alt m-r-5"></i> Edit</a> <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_asset"><i class="fas fa-trash-alt m-r-5"></i> Delete</a> </div>
                  </div>
              </td>
              </tr>
            {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
