{% extends 'base.html' %}

{% block title %}Delete Guest{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-8">
            <h2>Delete Guest</h2>
        </div>
        <div class="col-4 text-right">
            <a href="{% url 'guest_list'%}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

    <hr>

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ guest.name }}?</p>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}

