{% extends 'base.html' %}

{% block title %}Confirm Delete Room{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <h2>Confirm Delete Room</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-8">
            <p>Are you sure you want to delete the room: {{ room.room_number }}?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'room_detail' room.pk %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
