{% extends 'base.html' %}

{% block title %}Update Task{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <h2>Update Task</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update Task</button>
                <a href="{% url 'task_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
