<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="active"> <a href="#"><i class="fas fa-tachometer-alt"></i> <span>Pameec</span></a> </li>
                <li class="list-divider"></li>
                <li class="submenu"> <a href="#"><i class="fas fa-suitcase"></i> <span> Front Desk </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="{% url 'reservation_list' %}"> All Reservation </a></li>
                        <li><a href="{% url 'reservation_create' %}"> Add Reservation </a></li>
                        <li><a href="{% url 'guest_list' %}"> All Guest </a></li>
                        <li><a href="{% url 'room_list' %}">All Rooms </a></li>
                    </ul>
                </li>
                <!-- 
                <li class="submenu"> <a href="#"><i class="fas fa-key"></i> <span> Rooms </span> <span class="menu-arrow"></span></a>
                   
                </li> -->
                <li class="submenu"> <a href="#"><i class="fas fa-user"></i> <span> Staff Management </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="{% url 'user_list' %}">All Staff </a></li>
                        <li><a href="{% url 'manage_roles' %}"> Manage Roles </a></li>
                        <li><a href="{% url 'register' %}"> Add Staff </a></li>
                    </ul>
                </li>   
            </ul>
        </div>
    </div>
</div>